/*index*/
body{
   margin: 0;
   padding: 0;

   font-size: 14px;
   line-height: 24px;
   color: #000;
   font-weight: bold;
   text-transform: uppercase;
   font-family: "PT Sans Narrow", sans-serif;
}

.body-index{
   min-width: 800px;
   background-color:#8ED5E5;
}

h2{
	font-size: 30px;
}

.features-title{
	font-size: 30px;
	color: #f7f4f1;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.main-header {
  padding: 5px 0;
  background-color:rgba(0,0,0,0.5);
  min-height:62px;/*ориентировочно*/
}

.container.index {
  width: 660px;
  margin: 0 auto;
  /* для оформления схемы */
  /*min-height: 20px;*/
  padding: 5px;
}

.main-navigation {
  float: left;
  width: 520px;
  /* для оформления схемы */
  min-height: 20px;
}

nav li {
  display:inline-block;
  padding-right: 20px;
}

a{
   text-decoration:none;
}

nav a {
  color:#fff;
}

.user-block {
  float: right;
  width: 90px;
  /* для оформления схемы */
  min-height: 20px;
}

.user-block a{
  color:#fff;
  text-decoration:none;
}

.main-container {
  margin: 30px auto;
}

.logo {
  width: 270px;
  margin: 0 auto;
  margin-bottom: 20px;
  /* для оформления схемы */
  min-height: 120px;
}

.features-row {
  margin-bottom: 35px;
  /* для оформления схемы */
  padding: 5px;
}

.features-item {
  float: left;
  width: 195px;
  margin-right: 24px;
  /* для оформления схемы */
  min-height: 150px;
}

.features-item:last-child {
  margin-right: 0;
}

.index-content {
  margin-bottom: 20px;
  padding: 35px 40px;
}

.index-content:last-child {
  /* для оформления схемы:
   в обычной верстке без рамок
   маргин будет выпадать из
   .container */
  margin-bottom: 0;
}

.content-column-left,
.content-column-right {
  width: 250px;
  /* для оформления схемы */
  min-height: 230px;
}

.content-column-left {
  float: left;
}

.content-column-right {
  float: right;
}

.main-footer {
  padding: 20px 0;
  background-color:rgba(0,0,0,0.5);
  color:#fff;
}

.footer-contacts {
  float: left;
  width: 220px;
  margin-right: 35px;
  /* для оформления схемы */
  min-height: 80px;
}

.footer-social {
  float: left;
  width: 140px;
  /* для оформления схемы */
  min-height: 80px;
}

.footer-copyright {
  float: right;
  width: 220px;
  /* для оформления схемы */
  min-height: 80px;
}

/*item*/
.body-item {
   min-width: 1200px;

   background-image: url('../barbershop-item.jpg');
   background-repeat: no-repeat;
   background-position: center top;
   background-size: 1200px auto;
}

.main-header.item,
.main-header.shop {
   margin-bottom:60px;/*ориентировочно*/
} 

h1{
   margin-bottom: 25px;/*ориентировочно*/
   margin-left: 130px;/*ориентировочно*/
   font-size: 30px;
}

.container.item {
  width: 1200px;
  margin: 0 auto;
}
.breadcrumbs{
   margin-bottom: 50px;/*ориентировочно*/
   margin-left: 130px;/*ориентировочно*/
}

.breadcrumbs a{
   color: black;
}

.gallery-column{
   float:left;
   margin-left: 130px;/*ориентировочно*/
   margin-bottom: 50px;/*ориентировочно*/

   background-color: rgba(247,243,20,0.5);
}

.gallery-img a{
   margin-right:20px;/*ориентировочно*/
}

.gallery-img a:last-child{
   margin-right:0;
}

.info-column{
   float:right;
   width: 400px;
   margin-right:100px;/*ориентировочно*/
   padding-top: 25px;/*ориентировочно*/

   background-color: rgba(250,0,0,0.5);
}

.availability{
   float:left;
   margin-bottom: 25px;/*ориентировочно*/

   background-color: rgba(21,125,71,0.5);
}

.article{
   float:right;
   background-color: rgba(21,125,71,0.5);
}

.accessory-info{
   margin-bottom: 60px;/*ориентировочно*/
   clear:both;

   background-color: rgba(247,243,20,0.5);
}

.buy.item{
   margin-bottom: 50px;/*ориентировочно*/

   background-color: rgba(0,0,250,0.5);
}

.consist{
   background-color: rgba(247,243,20,0.5);
}
/*shop*/
.body-shop {
   min-width: 1200px;

   background-image: url('../barbershop-shop.jpg');
   background-repeat: no-repeat;
   background-position: center top;
   background-size: 1200px auto;
}

.container.shop {
  width: 1200px;
  margin: 0 auto;
}

.sidebar{
   float:left;
   width:170px;
   margin-left: 130px;

   background-color: rgba(0,0,250,0.5);
}

.content{
   float:right;
   margin-bottom: 40px;
   margin-right: 150px;
   width:700px;
   
   font-size:0;

   background-color: rgba(250,0,0,0.5);
}

.manufacturer{
   margin-bottom: 50px;

   background-color: rgba(0,250,0,0.5);
}

input[type="checkbox"],
input[type="radio"]{
   display: none;
}

label{
   display:block;
   margin-bottom: 13px;
}

.manufacturer-title{
   margin-bottom: 30px;
}

.groups{
   margin-bottom: 50px;

   background-color: rgba(250,0,0,0.5);
}

.group-title{
   margin-bottom: 30px;
}

.item-shop{
   display: inline-block;
   width:220px;
   height:300px;
   margin-right:20px;
   vertical-align: middle;

   font-size: 14px;

   background-color: rgba(247,243,20,0.5);
}

.item-shop:nth-child(3n){
   margin-right:0px;
}

.product-title{
   margin-bottom: 20px;
}

.product,
.firm{
   display: block;
}
.buy.shop{
   background-color: rgba(0,250,0,0.5);   
}

.paginator{
   width:200px;
   margin-left: 450px;
   margin-bottom: 50px;

   font-size: 0;

   background-color: rgba(151,29,145,0.5);
}

.paginator a{
   display: inline-block;
   width:50px;
   height: 50px;
   
   font-size: 14px;
}